# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/

# Streamlit cache
.streamlit/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Data files
*.csv
*.xlsx

# Environment variables
.env

# Logs and temp files
*.log
*.tmp